<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
</head>
<body>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="h3-admin-panel">Admin Panel</h3>
        </div>

        <ul class="list-unstyled components">
            <p>raynermendez.com</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" th:href="@{'/cms/new-post'}">New Post</a>
            </li>

        </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                    <ul class="nav navbar-nav ml-auto">-->
<!--                        <li class="nav-item active">-->
<!--                            <a class="nav-link" href="#">Page</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Page</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Page</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Page</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </nav>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <td>TITLE</td>
                    <td>PICTURES</td>
                    <td>CREATED DATE</td>
                    <td>MODIFIED DATE</td>
                    <td>DELETE POST</td>
                </tr>
                </thead>
                <tbody th:each="post : ${posts}">
                <tr>
                    <td><a href="#" th:href="@{'/cms/' + ${post.getId()} + '/edit-post'}" th:text="${post.getTitle()}"></a></td>
                    <td th:text="${post.getPictures().size()}"></td>
                    <td th:text="${post.getCreatedDate()}"></td>
                    <td th:text="${post.getModifiedDate()}"></td>
                    <td><a href="#" th:href="@{'/cms/' + ${post.getId()} + '/delete-post'}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>



<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/javascript/admin.js}"></script>
</body>
</html>