<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-6">
            <!-- form user info -->
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Edit Post</h4>
                </div>
                <div class="card-body">
                    <form class="form" role="form" th:object="${post}" th:action="@{/cms/update-post}" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Title</label>
                            <div class="col-lg-9">
                                <input th:field="*{title}" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Description</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" type="text"
                                          th:field="*{description}"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Link</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" th:field="*{link}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Github</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" th:field="*{gitHub}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Add image</label>
                            <div class="col-lg-9">
                                <input type="file" accept="image/*" name="file" class="form-control" th:placeholder="${'add a new image'}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 text-center" >
        <div class="col-md-6 col-lg-3" th:each="image : ${post.getPictures()}">
            <!--/*@thymesVar id="getFirstPicture" type="com.portfolio.entities.Post"*/-->
            <div>
                <a th:href="@{'/cms/' + ${image.getId()} + '/delete-picture'}"><i class="far fa-trash-alt"></i></a>
            </div>
            <img th:src="@{${image.getPictureString().toString()}}" src="" alt="" class="img-thumbnail">
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <img th:src="@{~/images/13dccf2dc9454ef5a4a7dfb98084384c.jpg}" alt="" class="img-thumbnail">
    </div>
</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
