<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rayner Méndez Portfolio</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{v2/css/index.css}" href="../../static/css/index.css" rel="stylesheet" media="screen">
</head>
<body>

<header th:insert="fragments/navbar.html :: navbar"></header>

<main role="main">

    <hr class="feature-divider">

    <div class="container marketing">

        <div class="justify-content-center align-content-center d-flex" style="margin-bottom: 2rem;">
            <h1 class="display-4 lead">Projects</h1>
        </div>

        <div class="row">
            <div class="col-lg-4" th:if="${!posts.isEmpty()}" th:each="post : ${posts}">

                <div class="card" th:if="${!post.isHidden()}" style="width: 18rem; margin-left: .5rem;">
                    <img class="card-img-top" src="" th:src="@{${post.getFirstPicture()}}" alt="picture">

                    <div class="card-block">
                        <h4 class="card-title mt-3" th:text="${post.getTitle()}">Tawshif Ahsan Khan</h4>
                        <div class="card-text" th:text="${#strings.abbreviate(post.getDescription(), 150)}"></div>
                    </div>
                    <div class="card-footer">
<!--                        <small >Last updated 3 mins ago</small>-->
                        <a href="#" class="btn btn-secondary -align-center btn-sm" th:href="@{${'post/' + post.getId()}}">View details &raquo;</a>
                    </div>
                </div>

            </div>
        </div>

        <hr class="feature-divider">

        <div class="row feature">
            <div class="col-md-7">
                <h4 class="feature-heading">Back-end Development</h4>
                <h2 class="text-muted">The brain of a website</h2>
                <p class="lead">I use Java/Spring and JavaScript/Express for backend development.
                    I work with Restful APIs and Server Side applications.</p>
            </div>

            <div class="col-md-5 d-flex justify-content-end align-items-center">
                <i class="fas fa-terminal fa-8x"></i>
            </div>
        </div>

        <hr class="feature-divider">

        <div class="row feature">
            <div class="col-md-5 d-flex justify-content-start align-items-center">
                <i class="far fa-file-code fa-8x"></i>
            </div>

            <div class="col-md-7">
                <h4 class="feature-heading text-right">Front-end Development</h4>
                <h2 class="text-muted text-right">The body of a website</h2>
                <p class="lead text-right">I work with Angular 2+ to create Single Page Applications.
                    Also, I work with thymeleaf.</p>
            </div>
        </div>

        <hr class="feature-divider">

        <div class="row feature">
            <div class="col-md-7">
                <h4 class="feature-heading">UI/UX Design</h4>
                <h2 class="text-muted">Awesome Designs</h2>
                <p class="lead">I design beautiful and responsive websites using "mobile first approach".
                    I work with Bootstrap and Material Design.</p>
            </div>
            <div class="col-md-5 d-flex justify-content-end align-items-center">
                <i class="fas fa-ruler-combined fa-8x"></i>
            </div>
        </div>

        <hr class="feature-divider">

        <div class="row feature">
            <div class="col-md-5 d-flex justify-content-start align-items-center">
                <i class="fas fa-mobile fa-8x"></i>
            </div>
            <div class="col-md-7">
                <h4 class="feature-heading text-right">Mobile Development</h4>
                <h2 class="text-muted text-right">Android | IOS</h2>
                <p class="lead text-right">I can create your mobile application using the latest technologies
                    available in the market.</p>
            </div>
        </div>

        <hr class="feature-divider">
    </div>
</main>

<footer th:insert="fragments/footer.html :: footer"></footer>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
</body>
</html>
