<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rayner Mendez</title>

    <meta name="description" content="Software Engineer Portfolio">
    <meta name="author" content="Rayner Mendez">

    <link th:href='@{https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic}' rel='stylesheet' type='text/css'>
    <link th:href='@{https://fonts.googleapis.com/css?family=Montserrat:400,700}' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <script defer th:src="@{/v4/fontawesome/js/all.js}" src=""></script>

    <!-- Global CSS -->
    <link rel="stylesheet" th:href="@{/v4/plugins/bootstrap/css/bootstrap.min.css}" media="screen">

    <!-- github calendar css -->
    <link rel="stylesheet" th:href="@{/v4/plugins/github-calendar/dist/github-calendar-responsive.css}" media="screen">
    <!-- github activity css -->
    <link rel="stylesheet" th:href="@{/cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/v4/plugins/github-activity/github-activity-0.1.5.min.css}" media="screen">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" th:href="@{/v4/css/styles.css}">

    <link rel="stylesheet" th:href="@{https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css}"/>
</head>
<body>

<!-- ******HEADER****** -->
<div th:replace="v4/fragments/header.html :: header"></div>

<div class="container sections-wrapper">
    <div class="row">

        <div class="primary col-lg-8 col-md-12 col-sm-12">
            <!-- ******ABOUT****** -->
            <div  th:replace="v4/fragments/about.html :: about"></div>

            <!-- ******LATEST PROJECTS****** -->
            <div th:replace="v4/fragments/latest-projects.html :: latest-projects"></div>

            <!-- ******CERTIFICATIONS****** -->
            <div th:replace="v4/fragments/certifications.html :: certifications"></div>

            <!-- ******EXPERIENCE****** -->
            <div th:replace="v4/fragments/experience.html :: experience"></div>

            <!-- ******GITHUB****** -->
            <div th:replace="v4/fragments/github.html :: github"></div>

        </div><!--//primary-->

        <div class="secondary col-lg-4 col-md-12 col-sm-12">

            <!-- ******BASIC-INFO****** -->
            <div th:replace="v4/fragments/basic-info.html :: basic-info"></div>

            <!-- ******SKILLS****** -->
            <div th:replace="v4/fragments/skills.html :: skills"></div>

            <!-- ******EDUCATION****** -->
            <div th:replace="v4/fragments/education.html :: education"></div>

            <!-- ******LANGUAGES****** -->
            <div th:replace="v4/fragments/languages.html :: languages"></div>
        </div>
    </div>
</div>

<!-- ******FOOTER****** -->
<div th:replace="v4/fragments/footer.html :: footer"></div>

<script>
    // or enable responsive functionality:
    GitHubCalendar(".calendar", "RaynerMDZ", { responsive: true });
    GitHubActivity.feed({ username: "RaynerMDZ", selector: "#feed" });
</script>

<!-- Javascript -->
<script type="text/javascript" th:src="@{/v4/plugins/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/v4/plugins/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/v4/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/v4/plugins/jquery-rss/dist/jquery.rss.min.js}"></script>
<!-- github calendar plugin -->
<script type="text/javascript" th:src="@{/v4/plugins/github-calendar/dist/github-calendar.min.js}"></script>
<!-- github activity plugin -->
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js}"></script>
<script type="text/javascript" th:src="@{/v4/plugins/github-activity/github-activity-0.1.5.min.js}"></script>
<!-- custom js -->
<script type="text/javascript" th:src="@{/v4/js/main.js}"></script>
<script th:src="@{https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js}"></script>
</body>
</html>
