<footer class="footer pt-5 bg-light align-bottom" th:fragment="footer">
    <p class="justify-content-center d-flex">
        <a href="#"><i class="far fa-arrow-alt-circle-up fa-hover fa-2x text-secondary " role="button"></i></a>
    </p>

    <p class="d-flex justify-content-center m-0 pb-3">&copy; 2019 Rayner Méndez</p>

    <div class="container d-flex justify-content-center pb-3">
        <a href="https://www.linkedin.com/in/raynermendez/" target="_blank" class="nav-link fa-hover link-color"><i
                class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/RaynerMDZ" target="_blank" class="nav-link fa-hover link-color"><i
                class="fab fa-github-square fa-2x"></i></a>
        <a href="raynermendezg@gmail.com" target="_blank" class="nav-link  fa-hoverlink-color"><i
                class="fas fa-envelope fa-2x"></i></a>
    </div>
</footer>

