<nav class="nav pt-1" th:fragment="navbar">

    <div class="container d-flex justify-content-around">

        <a href="https://www.linkedin.com/in/raynermendez/" target="_blank" class="nav-link link-color font-weight-bold">
            <i class="fab fa-linkedin font-weight-normal"></i> LinkedIn
        </a>

        <a href="https://github.com/RaynerMDZ" target="_blank" class="nav-link link-color font-weight-bold">
            <i class="fab fa-github-square font-weight-normal"></i> GitHub
        </a>
        <a href="raynermendezg@gmail.com" target="_blank" class="nav-link link-color font-weight-bold">
            <i class="fas fa-envelope font-weight-normal"></i> Email
        </a>

    </div>

</nav>
