<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>

<section class="py-5 bg-light" id="portfolio" th:fragment="portfolio">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="display-4">My Portfolio</h1>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquam asperiores beatae debitis delectus doloribus eligendi in itaque
                    iusto libero magni mollitia numquam, odio, quas quisquam quos repellat suscipit
                    velit voluptates.
                </p>
            </div>
        </div>

        <div class="row mb-5 text-center" th:each="post : ${posts}">

            <div class="col-md-6 col-lg-3">
                <img src="portfolio.png" alt="" class="img-thumbnail">
                <h5 class="my-3 font-weight-light" th:text="${post.getTitle()}">The Squeeze</h5>
                <p class="lead text-muted" th:text="${post.getDescription()}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias aperiam iure laudantium mollitia nisi odio sint velit vitae.
                </p>
            </div>

            <div class="col-md-6 col-lg-3" th:remove="all">
                <img src="portfolio.png" alt="" class="img-thumbnail">
                <h5 class="my-3 font-weight-light">Landing Page</h5>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias aperiam iure laudantium mollitia nisi odio sint velit vitae.
                </p>
            </div>

            <div class="col-md-6 col-lg-3" th:remove="all">
                <img src="portfolio.png" alt="" class="img-thumbnail">
                <h5 class="my-3 font-weight-light">Animations</h5>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias aperiam iure laudantium mollitia nisi odio sint velit vitae.
                </p>
            </div>

            <div class="col-md-6 col-lg-3" th:remove="all">
                <img src="portfolio.png" alt="" class="img-thumbnail" >
                <h5 class="my-3 font-weight-light">The Squeeze</h5>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias aperiam iure laudantium mollitia nisi odio sint velit vitae.
                </p>
            </div>

        </div>
    </div>
</section>

</body>
</html>