<section class="about section" th:fragment="about">
    <div class="section-inner">
        <h2 class="heading text-center">About Me</h2>
        <div class="content">
            <p>Full Stack Web Developer. Self-taught. Quickly learn and master new technologies;
                successful working as part of a team and independently.
                Passionate about Web development and Mobile development.</p>

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->
