<section class="projects section" th:fragment="certifications">
    <div class="section-inner">
        <h2 class="heading text-center">Certifications</h2>
        <div class="content">
            <div class="item">
                <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/free-bootstrap4-resume-cv-template-for-developers-pillar/" target="_blank"><span class="text-dark">Coursera</span> — Google IT Support Professional Certificate</a></h3>
                <p class="summary">Learned networking protocols, Cloud infrastructures, Linux, Windows, macOS, IOS, Android, Bash commands, PowerShell commands, System administration, IT Security, IT infrastructures, and technical support fundamentals such as customer service.</p>
            </div><!--//item-->

            <div class="item">
                <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/free-bootstrap4-resume-cv-template-for-developers-pillar/" target="_blank"><span class="text-dark">Platform by Per Scholas</span> — Java Developer</a></h3>
                <p class="summary">Completed a 12-week intensive technical training course covering Java 8, JDBC, Spring Framework 5, and Oracle SQL. Acquired hands-on in Agile-Scrum project methodologies using Jira, and user stories.</p>
            </div><!--//item-->

            <div class="item">
                <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/free-bootstrap4-resume-cv-template-for-developers-pillar/" target="_blank"><span class="text-dark">Udemy.com</span> — Spring Framework 5: Beginner to Guru</a></h3>
                <p class="summary">Developed Web Application using Spring MVC, Spring JPA, and Spring Security. Developed Restful APIs using Spring Boot 2.0. Learned about Maven multi-module projects, HTTP services, Testing Spring application, Test Driven Development, Continuous Integration, and Continuous Development.</p>
            </div><!--//item-->

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->
