<aside class="education aside section" th:fragment="education">
    <div class="section-inner">
        <h2 class="heading text-center">Education</h2>
        <div class="content">

            <div class="item">
                <h3 class="title"><i class="fas fa-graduation-cap"></i> BTech Computer Systems Technology</h3>
                <h4 class="university">CUNY New York City College of Technology <span class="year">(2019-2021)</span></h4>
            </div><!--//item-->

            <div class="item">
                <h3 class="title"><i class="fas fa-graduation-cap"></i> A.S. Electrical Engineer</h3>
                <h4 class="university">CUNY Bronx Community College <span class="year">(2015-2018)</span></h4>
            </div><!--//item-->

        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
