<header class="header" th:fragment="header">
    <div class="container clearfix">

        <div class="align-content-center text-center">
            <img class="mt-0 mb-0 pt-0 pb-0 img-fluid" src="" th:src="@{https://raynerdevblobstorage.blob.core.windows.net/portfolioimages/new.png}" alt="James Lee" height="300" width="300" />
        </div>

        <div class="profile-content align-content-center align-items-center text-center">
            <h1 class="name text-dark text-center">Rayner E Mendez Garcia</h1>
            <h2 class="desc text-dark text-center">Software Engineer | IT Specialist | Cloud Developer</h2>
            <ul class="social list-inline text-center">
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
            </ul>
        </div><!--//profile-->

        <!--        <div class="mt-5">-->
        <!--            <a class="btn btn-cta-primary float-right" href="https://themes.3rdwavemedia.com/" target="_blank" ><i class="fas fa-paper-plane" ></i> Contact Me</a>-->
        <!--        </div>-->

    </div><!--//container-->
</header><!--//header-->
