<aside class="skills aside section" th:fragment="skills">
    <div class="section-inner">
        <h2 class="heading text-center">Skills</h2>
        <div class="content">

            <div class="row">
                <div class="col-6">

                    <div class="skillset text-center">

                        <div class="item">
                            <h3 class="level-title">Java 8<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Spring Framework<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Spring Boot 2.0<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Python 3<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">JavaScript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">TypeScript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Intellij IDEA<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">PyCharm<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Git<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->
                    </div>
                </div>

                <div class="col-6">

                    <div class="skillset text-center">

                        <div class="item">
                            <h3 class="level-title">AWS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Azure<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">HTML, CSS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Thymeleaf<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Angular<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">WebStorm<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">MySQL<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Bootstrap<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Agile-Scrum<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""></span></h3>
                        </div><!--//item-->
                    </div>
                </div>
            </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
