<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>

<section class="py-5" id="about" th:fragment="about">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="display-4">About Me</h1>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquam asperiores beatae debitis delectus doloribus eligendi in itaque
                    iusto libero magni mollitia numquam, odio, quas quisquam quos repellat suscipit
                    velit voluptates.
                </p>
            </div>
        </div>
        <div class="row text-muted">
            <div class="col-lg-6">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad aliquam cum eius expedita illo impedit ipsam molestias officia,
                    quibusdam quidem saepe sit totam voluptatum! Delectus deserunt distinctio
                    doloremque ea modi!
                </p>
            </div>
            <div class="col-lg-6">
                <h5>HTML</h5>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" style="width: 95%;">
                        95%
                    </div>
                </div>
                <h5>CSS</h5>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" style="width: 80%;">
                        80%
                    </div>
                </div>
                <h5>JavaScript</h5>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" style="width: 80%;">
                        80%
                    </div>
                </div>
                <h5>Java</h5>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" style="width: 70%;">
                        70%
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>