<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="comments">
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="card" th:fragment="comments">

    <!--Comment Form-->
    <div class="card-body">
        <form class="form" role="form" th:object="${comment}" th:action="@{${post.getId()} + '/create-comment'}" method="post">
            <div class="form-group">
                <label class="form-control-label">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" placeholder="Insert your name here.">
            </div>

            <div class="form-group">
                <label class="form-control-label">Comment:</label>
                <textarea class="form-control" type="text" th:field="*{body}" placeholder="Type Something." rows="3"></textarea>
            </div>

            <p>
                <a class="float-right btn btn-outline-primary ml-2">
                    <!--                                <i class="far fa-comment-dots"></i> Comment-->
                    <input type="submit" value="submit" class="btn btn-primary">
                </a>
            </p>

        </form>
    </div>

    <!--Comment Section-->
    <div class="card-body">

        <div th:if="${post.getComments() != null}" th:each="comment : ${post.getComments()}">
            <h5 class="float-left"><strong th:text="${comment.getName()}">Maniruzzaman Akash</strong></h5>
            <p class="text-secondary text-center float-right">15 Minutes Ago</p>
            <div class="clearfix"></div>

            <div class="container">
                <div class="container">
                    <p th:text="${comment.getBody()}">
                        Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                        typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker
                        including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
            <!--                        <p>-->
            <!--                            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>-->
            <!--                        </p>-->
        </div>
    </div>

</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>
