<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<footer class="py-5 bg-dark" th:fragment="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col text-center">
                <a href="#"><i class="fab fa-linkedin fa-1x text-primary mx-4"></i></a>
                <a href="#"><i class="fab fa-github fa-1x text-white mx-4"></i></a>
                <a href="#"><i class="fab fa-twitter fa-1x text-info mx-4"></i></a>
                <p class="lead mt-3 mb-0 text-muted">
                    Created By: Rayner Mendez
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>