<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<section class="bg-light pt-5" id="home" th:fragment="home">
    <div class="container pt-5">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 order-2 order-md-1">
                <h5 class="font-weight-light">Hello, I am</h5>
                <h1 class="display-3 font-weight-bold">Rayner Méndez</h1>
                <h5 class="font-weight-light">Full Stack Software Engineer</h5>
                <!--                    <a href="#" class="btn btn-info font-weight-light mt-3 px-5 text-uppercase">Hire Me</a>-->
            </div>
            <div class="col-md-5 col-lg-6 order-1 order-md-2 text-center">
                <img src="Man-PNG-Image.png" alt="Photo of Rayner" class="img-fluid">
            </div>
        </div>
    </div>
</section>

</body>
</html>