<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navbar">
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<header>
    <nav class="navbar navbar-light navbar-expand-md bg-dark fixed-top" th:fragment="navbar">
        <div class="container">

<!--            <a href="/" th:href="@{/}" class="navbar-brand">-->
<!--                <h1 class="font-weight-bold m-0">Rayner Méndez</h1>-->
<!--            </a>-->
<!--            -->
<!--            <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#navbar">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

            <div class="collapse navbar-collapse justify-content-center" id="navbar">
                <ul class="navbar-nav text-uppercase">
                    <li class="nav-item px-2">
                        <a href="#home" th:href="@{../#home}" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#about" th:href="@{../#about}" class="nav-link text-white">About</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#portfolio" th:href="@{../#portfolio}" class="nav-link text-white">Portfolio</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#services" th:href="@{../#services}" class="nav-link text-white">Services</a>
                    </li>
<!--                    <li class="nav-item px-2">-->
<!--                        <a href="#blog" class="nav-link">Blog</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item px-2">-->
<!--                        <a href="#contact" class="nav-link">Contact</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>


</body>
</html>