<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rayner Mendez</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>


</head>
<body>
    <header th:insert="fragments/navbar.html :: navbar"></header>

    <section class="bg-light pt-5" id="home" th:fragment="home">
        <div class="container pt-5">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-2 order-md-1">
                    <h5 class="font-weight-light">Hello, I am</h5>
                    <h1 class="display-3 font-weight-bold">Rayner Méndez</h1>
                    <h5 class="font-weight-light">Full Stack Web Developer</h5>
                    <!--                    <a href="#" class="btn btn-info font-weight-light mt-3 px-5 text-uppercase">Hire Me</a>-->
                </div>
                <div class="col-md-5 col-lg-6 order-1 order-md-2 text-center">
                    <img src="Man-PNG-Image.png" alt="Photo of Rayner" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="py-5" id="about" th:fragment="about">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col text-center">
                    <h1 class="display-4">About Me</h1>
                    <p class="lead text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquam asperiores beatae debitis delectus doloribus eligendi in itaque
                        iusto libero magni mollitia numquam, odio, quas quisquam quos repellat suscipit
                        velit voluptates.
                    </p>
                </div>
            </div>
            <div class="row text-muted">
                <div class="col-lg-6">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ad aliquam cum eius expedita illo impedit ipsam molestias officia,
                        quibusdam quidem saepe sit totam voluptatum! Delectus deserunt distinctio
                        doloremque ea modi!
                    </p>
                </div>
                <div class="col-lg-6">
                    <h5>HTML</h5>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" style="width: 95%;">
                            95%
                        </div>
                    </div>
                    <h5>CSS</h5>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" style="width: 80%;">
                            80%
                        </div>
                    </div>
                    <h5>JavaScript</h5>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" style="width: 80%;">
                            80%
                        </div>
                    </div>
                    <h5>Java</h5>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" style="width: 70%;">
                            70%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-light" id="portfolio" th:fragment="portfolio">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col text-center">
                    <h1 class="display-4">My Portfolio</h1>
                    <p class="lead text-muted">
                        Here are some of the projects that I have worked with. Click on any image to get to its
                        description.
                    </p>
                </div>
            </div>

            <div class="row mb-5 text-center" >

                <div class="col-md-6 col-lg-3" th:each="post : ${posts}">
                    <!--/*@thymesVar id="getFirstPicture" type="com.portfolio.entities.Post"*/-->
                    <a href=""><img src="" th:src="@{'/images/' + ${post.getFirstPicture()}}" alt="" class="img-thumbnail"></a>
                    <h5 class="my-3 font-weight-light" th:text="${post.getTitle()}"></h5>
                    <p class="lead text-muted" th:text="${post.getDescription()}"></p>
                </div>

                <div class="col-md-6 col-lg-3" th:remove="all">
                    <img src="portfolio.png" alt="" class="img-thumbnail" >
                    <h5 class="my-3 font-weight-light">Landing Page</h5>
                    <p class="lead text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aperiam iure laudantium mollitia nisi odio sint velit vitae.
                    </p>
                </div>

                <div class="col-md-6 col-lg-3" th:remove="all">
                    <img src="portfolio.png" alt="" class="img-thumbnail" >
                    <h5 class="my-3 font-weight-light">Animations</h5>
                    <p class="lead text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aperiam iure laudantium mollitia nisi odio sint velit vitae.
                    </p>
                </div>

                <div class="col-md-6 col-lg-3" th:remove="all">
                    <img src="portfolio.png" alt="" class="img-thumbnail" >
                    <h5 class="my-3 font-weight-light">The Squeeze</h5>
                    <p class="lead text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aperiam iure laudantium mollitia nisi odio sint velit vitae.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <section class="py-5" id="services" th:fragment="services">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col text-center">
                    <h1 class="display-4">Services</h1>
                    <p class="lead text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquam asperiores beatae debitis delectus doloribus eligendi in itaque
                        iusto libero magni mollitia numquam, odio, quas quisquam quos repellat suscipit
                        velit voluptates.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="mb-5 m-md-0">
                        <i class="fas fa-cogs fa-5x text-info mb-3"></i>
                        <h5 class="font-weight-light">Web Development</h5>
                        <p class="my3 text-muted lead">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto distinctio dolor eos exercitationem maiores modi placeat
                            quis repellat suscipit vero.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-5 m-md-0">
                        <i class="fas fa-pencil-ruler fa-5x text-info mb-3"></i>
                        <h5 class="font-weight-light">Web Design</h5>
                        <p class="my3 text-muted lead">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto distinctio dolor eos exercitationem maiores modi placeat
                            quis repellat suscipit vero.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-5 m-md-0">
                        <i class="fab fa-sketch fa-5x text-info mb-3"></i>
                        <h5 class="font-weight-light">Graphic Design</h5>
                        <p class="my3 text-muted lead">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto distinctio dolor eos exercitationem maiores modi placeat
                            quis repellat suscipit vero.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-5 m-md-0">
                        <i class="fas fa-camera fa-5x text-info mb-3"></i>
                        <h5 class="font-weight-light">Photography</h5>
                        <p class="my3 text-muted lead">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto distinctio dolor eos exercitationem maiores modi placeat
                            quis repellat suscipit vero.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:insert="fragments/footer.html :: footer"></footer>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>