<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rayner Mendez</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>


</head>
<body>
    <header th:insert="fragments/navbar.html :: navbar"></header>

    <section th:insert="fragments/home.html :: home"></section>

    <section th:insert="fragments/about.html :: about"></section>

    <section th:insert="fragments/portfolio.html :: portfolio"></section>

    <section th:insert="fragments/services.html :: services"></section>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>