<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}">Title</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <header th:insert="fragments/navbar.html :: navbar"></header>

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col text-center">
                    <h1 class="display-3" th:text="${post.getTitle()}">Title</h1>
                    <a href="" th:href="@{${post.getGitHub().toString()}}" target="_blank"><h5 class="text-black-50">Github</h5></a>
                    <a href="" th:href="@{${post.getLink().toString()}}" target="_blank"><h5 class="text-black-50">Website</h5></a>
                    <p class="lead text-body" th:text="${post.getDescription()}"></p>
                </div>
            </div>

            <div class="row mb-5 text-center" >

                <div class="col-md-6 col-lg-3" th:each="image : ${images}">
                    <img src="" th:src="@{'data:image/jpeg;base64,' + ${image}}" alt="" class="img-thumbnail">
                </div>
            </div>

            <div class="card">

               <!--Comment Form-->
                <div class="card-body">
                    <!--/*@thymesVar id="comment" type="com.portfolio.entities.Comment"*/-->
                    <form class="form" role="form" th:object="${comment}" th:action="@{/create-comment}" method="post">
                        <div class="form-group">
                            <label class="form-control-label">Name:</label>
                            <input type="text" class="form-control" placeholder="Insert your name here.">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Comment:</label>
                            <textarea class="form-control" placeholder="Type Something." rows="3"></textarea>
                        </div>

                        <p>
                            <a class="float-right btn btn-outline-primary ml-2">
                                <i class="far fa-comment-dots"></i> Comment
                            </a>
                        </p>

                    </form>
                </div>

                <!--Comment Section-->
                <div class="card-body">

                    <h5 class="float-left"><strong>Maniruzzaman Akash</strong></h5>
                    <p class="text-secondary text-center float-right">15 Minutes Ago</p>
                    <div class="clearfix"></div>

                    <div class="container">
                        <div class="container">
                            <p>
                                Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the
                                release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>

                    <p>
                        <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                    </p>
                </div>
            </div>
        </div>
    </section>



    <footer th:insert="fragments/footer.html :: footer"></footer>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
