<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}">Title</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <header th:insert="fragments/navbar.html :: navbar"></header>

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col text-center">
                    <h1 class="display-3" th:text="${post.getTitle()}">Title</h1>
                    <a href="" th:href="@{${post.getGitHub().toString()}}" target="_blank"><h5 class="text-black-50">Github</h5></a>
                    <a href="" th:href="@{${post.getLink().toString()}}" target="_blank"><h5 class="text-black-50">Website</h5></a>
                    <p class="lead text-body" th:text="${post.getDescription()}"></p>
                </div>
            </div>

            <div class="row mb-5 text-center" >

                <div class="col-md-6 col-lg-3" th:each="image : ${post.getPictures()}">
                    <img src="" th:src="@{${image.getPictureString()}}" alt="" class="img-thumbnail">
                </div>
            </div>

            <div class="card">

                <!--Comment Form-->
                <div class="card-body">
                    <form class="form" role="form" th:object="${comment}" th:action="@{${postID} + '/create-comment'}" method="POST">

                        <div class="form-group">
                            <label class="form-control-label">Name:</label>
                            <div>
                                <input type="text" class="form-control" maxlength="15" th:field="*{name}" placeholder="Insert your name here.">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Comment:</label>
                            <div>
                                <textarea class="form-control" type="text" maxlength="500" th:field="*{body}" placeholder="Type Something." rows="3"></textarea>
                            </div>
                        </div>

                            <a class="float-right ml-2">
                                <input type="submit" value="submit" class="btn btn-secondary">
                            </a>
                    </form>
                </div>

                <!--Comment Section-->
                <div class="card-body">

                    <div th:if="${post.getComments() != null}" th:each="comment : ${comments}">
                        <h5 class="float-left"><strong th:text="${comment.getName()}"></strong></h5>
                        <p class="text-secondary text-center float-right" th:text="${#dates.format(comment.getCreationDate(), 'MM-dd-yyyy HH:mm')}">15 Minutes Ago</p>
                        <div class="clearfix"></div>

                        <div class="container">
                            <div class="container">
                                <p th:text="${comment.getBody()}">
                                </p>
                            </div>
                        </div>

                        <br>
                    </div>
                </div>

            </div>

        </div>
    </section>



    <footer th:insert="fragments/footer.html :: footer"></footer>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
